html, body, p, a, div, table, h2, h3, h4, h5, h6, span {
	font-family: 'Oswald', sans-serif !important;
	font-weight: 300 !important;
}

body {
	background-image: url('../img/bgtest.jpg'); 
	background-repeat: repeat;
}

h1 {
	font-weight: 500 !important;
}

h6 {
	font-weight: 400 !important;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.a-info {
	color: #059473 !important;
}

.a-info:hover {
	color: #04383e !important;
	text-decoration: none;
}

.btn {
	border-radius: 0;
}

.btn-info {
	background-color:#059473 !important;
}

.btn-info:hover {
	/*background-color:#04383e !important;*/
	/*background-color:#048365 !important;*/
	background-color:#03664f !important;
}

.btn-send {
    color: white;
	background-color:#17a2b8 !important;
	border-color: #17a2b8;
}

.btn-send:hover {
    color: white;
	background-color:#117a8b !important;
	border-color: #117a8b;
}

.bg-info {
	background-color: #059473 !important;
}

.text-info {
	color: #059473 !important;
}

.jumbotron {
	border-radius: 0;
}

.card-deck {
	margin: 20px 0;
}

.card-deck .card {
	border-radius: 0;
	max-width: 348px;
}

.card {
	border-radius: 0;
}

.badge-container {
	font-size: 18px; 
	color: #99989a; 
	margin: 5px 5px 0 5px !important;
	height: 70px; 
	display: block; 
	justify-content: center; 
	align-items: center;
}

.badge {
	font-weight: 300;
	font-size: 16px;
}

.ep-desc {
	font-size: 20px; 
	margin-bottom: 5px; 
	height: 70px; 
	display: flex; 
	justify-content: center; 
	align-items: center;
}

.ult-epis {
	margin: 20px 1% 0% 0%; 
	padding: 1rem 2rem;
	right:auto;
	left:auto;
}

.a-share {
	font-size: 25px; 
	margin-bottom: 1rem; 
	position: absolute; 
	top: 5px; 
	right: 15px;
}

.logo-light {
	font-size: 2.5rem;
}

.logo-medium {
	font-weight: 500 !important; 
	font-size: 2.5rem; 
	color: #04383e !important;
}

.maxw-128 {
	max-width: 128px;
}

.h-150 {
	height: 150px;
}

.hr-card {
	margin: 0 2rem 0 2rem;
}

.card-footer {
	text-align: center; 
	padding: .5rem .5rem; 
	margin-top: .5rem;
}

.input-group-text {
	border-radius: 0;
}

.form-control {
	border-radius: 0;
}

.alert {
	border-radius: 0;
}

.possible-file-extensions {
    float: right;
}

.possible-file-extensions:before {
    content: 'Extensiones: ';
}

.custom-file-label {
    text-overflow: ellipsis;
    max-height: calc(1.5em + .75rem + 2px);
    overflow: hidden;
}

.float-right {
    float: right;
}

.cancel {
    background-color: orange;
}

.cancel:hover {
    background-color: darkOrange;
}

.jconfirm .jconfirm-box .jconfirm-buttons button {
    border-radius: 0;
}

.jconfirm.jconfirm-white .jconfirm-box .jconfirm-buttons button, .jconfirm.jconfirm-light .jconfirm-box .jconfirm-buttons button {
    font-weight: normal;
}

.jconfirm .jconfirm-box {
    border-radius: 0;
}

.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box {
    border-radius: 0;
}

.delete {
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.fa-question-circle {
    cursor: pointer;
}

#portada {
	max-width: 100%; 
	height: auto; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

#body {
	padding: 0px; 
	width: 100%; 
	background-image: url('../img/bgtest_old.jpg') !important;
}

#jumbo-header {
	margin: 20px 15px 0 15px; 
	padding: 1rem 2rem;
}

#jumbo-header p {
	font-size: 1.5rem; 
	text-align: justify;
}

.jumbo-header {
	margin: 20px 15px 0 15px; 
	padding: 1rem 2rem;
}

.jumbo-header p {
	font-size: 1.5rem; 
	text-align: justify;
}

@media screen and (max-width: 767px) {
    
    .jumbo-header {
        margin: 20px 15px 20px 15px !important;
    }

	#jumbo-header {
	  margin: 20px 15px 20px 15px !important;
	}

	#player {
		height: 340px;
	}

	.card-deck {
		margin: 0 0 !important;
	}

	.card-deck .card {
		margin-left: 15px;
		margin-right: 15px;
	}

	#body {
		background-image: url('../img/bgtest.jpg') !important;
	}
}